@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");

html {
	font-family: "Poppins", sans-serif;
}

/* modal */
.modal {
	max-width: 800px !important;
}

/* width */
.scrollbarLight::-webkit-scrollbar,
.scrollbarDark::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
.scrollbarLight::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #e9e3e3;
}

/* Handle */
.scrollbarLight::-webkit-scrollbar-thumb {
	background: #797979;
	border-radius: 100vh;
	border: 5px solid #9c9fa1;
}

/* Handle on hover */
.scrollbarLight::-webkit-scrollbar-thumb:hover {
	background: #cfd0d3;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Track */
.scrollbarDark::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #000000;
}

/* Handle */
.scrollbarDark::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 100vh;
	border: 5px solid #4f4f4f;
}

/* Handle on hover */
.scrollbarLight::-webkit-scrollbar-thumb:hover {
	background: #111111;
}

.linked {
	color: white !important;
}
/* input remove auto fill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: gray;
	/* -webkit-box-shadow: 0 0 0px 1000px transparent inset; */
	transition: background-color 5000s ease-in-out 0s;
	background: none !important;
}
/* active color */
.is-active {
	color: #fa5252 !important;
}
/* slider img */
.slick-slide {
	padding: 30px;
}
.fillter-btn.is-checked {
	color: #fa5252;
}
.mymix {
	min-height: 50vh;
	margin-left: -10px;
	margin-right: -10px;
}
.three-col .isotop-item,
.three-col .grid-sizer {
	width: 33.33%;
	padding: 0 10px;
}
.two-col .isotop-item,
.two-col .grid-sizer {
	width: 50%;
	padding: 0 10px;
}
@media (max-width: 1199px) {
	.three-col .isotop-item,
	.three-col .grid-sizer {
		width: 50%;
	}
}
@media (max-width: 576px) {
	.three-col .isotop-item,
	.three-col .grid-sizer,
	.two-col .isotop-item,
	.two-col .grid-size {
		width: 100%;
	}
}
.three-col .isotop-item > div,
.two-col .isotop-item > div {
	margin-bottom: 20px;
}
.brand-img {
	max-width: 100% !important;
	width: auto !important;
	height: auto !important;
	overflow: hidden;
	text-align: center;
}
/* owl-carousel */
.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

.owl-carousel .owl-stage .owl-item {
	padding: 20px 30px;
}

.fix {
	display: none;
}

.close {
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px !important;
	height: 50px !important;
	top: -20px !important;
	right: -20px !important;
	border-radius: 50%;
}

.close-light {
	background-image: url(../images/icons/closelight.jpg);
}

.close-dark {
	background-image: url(../images/icons/closeDark.png);
}

.modal a.close-modal {
	display: none;
}

/* preloader */

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 999999999999999999;
	display: flex;
}

#preloader:before,
#preloader:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

#preloader:after {
	left: auto;
	right: 0;
}

#preloader .loader_line {
	margin: auto;
	width: 1px;
	height: 250px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.loader_line:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 0%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	-webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
	-o-animation: lineheight 1000ms ease-in-out 0s forwards;
	animation: lineheight 1000ms ease-in-out 0s forwards;
}

.loader_line:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #999999;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: lineround 1200ms linear 0s infinite;
	-o-animation: lineround 1200ms linear 0s infinite;
	animation: lineround 1200ms linear 0s infinite;
	animation-delay: 2000ms;
}

@keyframes lineheight {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@keyframes lineround {
	0% {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}
}
.portfolio_list {
	min-height: 50vh;
}
/*hiding all*/
.preloaded .loader_line:after {
	opacity: 0;
}

.preloaded .loader_line {
	opacity: 0;
	height: 100% !important;
}

.preloaded:before,
.preloaded:after {
	-webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	-o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	animation: preloadedzero 300ms ease-in-out 500ms forwards;
}

@keyframes preloadedzero {
	0% {
		width: 50%;
	}

	100% {
		width: 0%;
	}
}
/* media queries */
@media only screen and (max-width: 992px) {
	.close {
		top: -45px !important;
		right: 5px !important;
		width: 40px !important;
		height: 40px !important;
	}
}

.jquery-modal.blocker {
	z-index: 9999999999;
}
.close {
	filter: invert(0.9);
	transition: 0.3s;
}
.close:hover {
	filter: invert(1);
}
@media only screen and (min-width: 1700px) {
	.scroll-hide-1700 {
		overflow: hidden;
	}
}
